server {
    listen 80;

    #ssl off;
    #ssl_certificate /usr/share/hana/0hana.pem;
    #ssl_certificate_key /usr/share/hana/0hana.key;
    #ssl_ciphers EECDH+CHACHA20:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;
    #ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    gzip on;
    gzip_min_length 1k;
    gzip_buffers 16 64k;
    gzip_http_version 1.1;
    gzip_comp_level 6;
    gzip_types text/plain application/x-javascript application/javascript text/css application/xml application/json;
    gzip_vary on;

    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    set $root /var/www/rock;

    root $root;
    charset     utf-8;
    client_max_body_size 75M;

    error_log  /var/log/jy/nginx-error.log;

    error_page 497  https://$host$uri?$args;

    location /api {
        try_files $uri $uri/ @rock-web;
    }

    #proxy to spring
    location @rock-web {
        proxy_redirect http:// $scheme://;
        proxy_pass     http://127.0.0.1:5005;
    }

    # vue-router use HTML5 history mode
    # https://router.vuejs.org/zh/guide/essentials/history-mode.html#%E5%90%8E%E7%AB%AF%E9%85%8D%E7%BD%AE%E4%BE%8B%E5%AD%90
    location / {
      try_files $uri $uri/ /index.html;
    }
}
